 
 
 .loginh2 {
   font-size: 20px;
   font-family: "Consolas" ;
   color: white;
 }
body {
  background-image: url(https://image.shutterstock.com/image-vector/vector-illustration-dark-ghostly-forest-260nw-213703342.jpg);
  background-size: 100%, 100%, 100%;
}
 .divlogin {
   position: absolute;
   height: 500px;
   width: 944px;
   margin: auto;
   top: 0; right: 0; bottom: 0; left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #5C5566;
   border-radius: 10px;
  }

 .form {
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   border-radius: 10px;
   background-color: #76878B;
 }
 label {
  color: white;
  font-family: Verdana;
 }
 input[type=text ] {
  font-size: 20px;
  background-color: #D9D9D9;
  width: 200px;
 }
 input[type=password ] {
  font-size: 20px;
  background-color: #D9D9D9;
  width: 200px;
 }

 input[type=submit ] {
  color: white;
  background-color: #332932;
  font-family: "Consolas";
  padding: 5px 15px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
 }
 
  